@media screen and (max-width: 768px){

    header{
        height: auto;
        min-height: 60px;
    }

    .wrap{
        position: unset;
    }

    div.hall-frame{
        position: unset;
    }
    
    div.games-wrap{
        max-height: 300px;
    }

    div.gamers{
        max-height: 300px;
    }

    div.messages{
        max-height: 300px;
    }
    
    div.gamers{
        width: 100%;
    }
    
    header .profile{
        float: left;
    }

    header .login{
        float: left;
    }
    
    ul.dropdown-menu{
        margin-left: 20px;
    }
    
    .dropdown-menu>li>a{
        color: white;
        background-color: black;
    }

    .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
        background-color: black; color: white; }
        
    .navbar-toggle{
        background-color: #888;
        width: 44px;
        height: 44px;
    }

    .navbar-toggle .icon-bar {
        border: 1px black solid;
    }
        
    
}
