body,html{width: 100%;height: 100%;margin: 0px;padding: 0px;}

.wrap{min-height: calc( 100% - 110px);position: relative;}

.footer{height: 50px;background-color: black;color: #EEE;}

header{
    height: 60px;
    color: #EEE;
    background-color: black;
    border-bottom:1px #444 solid;
}

header .profile{display: table;float: right;margin: 5px 5px 5px 5px;}

header .profile .profile-wrap{display: table-row;}

header .profile .avatar{
    display: table-cell;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

header .profile .username{
    display: table-cell;
    width: 100px;
    vertical-align: top;
    padding-left: 10px;
    font-size: 18px;
}

header .profile .username .logout{font-size: 14px;}
header .profile .username > div{
    cursor:pointer;border-bottom: 1px transparent solid;display:inline-block;
}
header .profile .username > div:hover{border-bottom: 1px white solid;}

header .login{
    color: white;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

header div.login:hover{border-bottom: 1px white solid;}
header .login span{margin-left: 5px;}



.main-content{position: relative;height: 100%;}

.gamers{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 250px;
    border-left: 1px #888 solid;
    overflow: auto;
}

.gamers h1{
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
    border-bottom: 1px #888 solid;
    color: white;
    background-color: black;    
}

.gamers-wrap{display: table;width: 100%;}

.gamers .gamer{display: table-row;cursor: pointer;}
.gamers div.gamer:hover{background-color: #EEE;}

.gamers .gamer .avatar{
    display: table-cell;
    width: 32px !important;
    height: 32px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 50px;
    width: 50px;
    padding: 8px;
}

.hall-chat{
    position: absolute;
    bottom: 0px;
    border-top: 1px black solid;
    height: 200px;
    left: 0px;
    right: 250px;
}

.hall-chat .messages{height: calc( 100% - 35px);overflow:auto;}
.hall-chat .messages .message{
    position: relative;
    margin-top: 10px;
    padding: 5px 5px 20px 60px;
    margin: 5px;
}
.hall-chat .messages .message .login{cursor:pointer;}
.hall-chat .messages .message div.login:hover{opacity:0.5}
.hall-chat .messages .message .avatar{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}
.hall-chat .messages .message div.avatar:hover{opacity:0.5;}


.hall-chat .messages .message .date{
    position: absolute;
    right: 5px;
    top:5px;
}
.hall-chat .messages .message .text{
    border: 1px #EEE solid;
    background-color: #F8F8F8;
    padding: 5px;
    border-radius:5px;
}


.hall-chat .form{height: 30px;}

.hall-chat .form .chat-message{
    width: calc( 100% - 38px) !important;
    display: inline-block;
}

.hall-chat button{width: 32px !important;height: 32px;padding: 0px;}


.games{
    position: absolute;
    top: 0px;
    bottom: 250px;
    left: 0px;
    right: 250px;
}

.games-header{
    background-color: black;
    height: 38px;
    color: white;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}


.games-header button{
    float: left;
    margin: 0px 5px 1px 5px;
    padding-top: 6px;
    padding-left: 4px;
    width: 115px;
    display: inline-block;
    height: 34px;
}


.games-header input{width: calc( 100% - 135px);}
.games-wrap{height: calc( 100% + 10px );width:100%;overflow: auto;}
.games-list{display: table;width: 100%;}
.games-list .game{display: table-row;}
.games-list > div:hover{background-color: #F8F8F8;}
.games-list .game > div.name{}
.games-list .game > div.turn{width: 100px;}
.games-list .game > div.status{width: 150px;}
.games-list .game > div.actions{width: 50px;}
.games-list .game  div.turn::before{content: 'Ход:';}
.games-list .game > div{display: table-cell;padding: 5px;}

div.serverside{
    width: 240px;
    float: right;
    margin-top: 7px;
    margin-right: 7px;
}

i.glyphicon:before{margin-right:5px;}



.modal-profile h3{
    margin-top: 10px;
}

.modal-profile .avatar{
    width: 100px;
    height: 100px;
}


/*****
 * Форма создания партии
*/
 
 .parol{
	display: block;
	font-size: 16px;
	margin-top: 20px;
 }

.viewer{
	display: block;
 	font-size: 16px;
 	margin-top: 10px;
}
.time_block{
 	display: block;
 	font-size: 16px;
 	margin-top: 10px;
}
.vibor_storon{
	font-size: 16px;
 	margin-top: 10px;
}

    .vibor_storon .side{
        display: inline-block;
        width: 48%;
        margin-bottom: 10px;
    }
    .vibor_storon .side select{
        width: 130px;
        display: inline-block;
    }
    
    .vibor_storon .side .side_title{
        display: inline-block;
        width: 70px;
    }
    
.new-game-flag input{
    display: inline-block;
}

#root-error{
    display: none;
    background-color: #DAA;
    color: #844;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    text-align: left;
    border: 1px #844;
    box-shadow: 0px 0px 5px black;
}


a.dropdown-toggle{
    color: white;
}

.nav>li>a:focus{ background-color: black; color: white; }
.nav>li>a:hover{ background-color: #444; color: white; }
.nav>li.open>a{ color: black; }

span.input-group-addon{
    position:relative;
    top:0px;
}

/*Таблица рейтинга */
.topRating {
	margin : 2%;
	width: 96%;
}

.topRating .num{
	width: 50px;
}

.topRating td.user a{
	cursor: pointer;
}


.topRating td.num{
	text-align: center;
}
.topRating .rating{
	width: 100px;
}
.topRating .date {
	width: 150px;
}

.debit td.rating{
	color : green;
}

.credit td.rating{
	color : red;
}