<!--
Шаблон модального окна подтверждения регистрации
-->
<div class="modal fade" id="Modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Подтверждение регистрации</h4>
      </div>
      <div class="modal-body">

        <p>
            <form role="form">

              <div class="form-group">
                <label for="exampleInputEmail1">Код подтверждения</label>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon glyphicon-check"></span>
                  <input type="text" class="form-control" placeholder="Код подтверждения"
                  ng-model="checkRegisterForm.code">
                </div>                
              </div>

            </form>            
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary"
        ng-click="checkRegister()">Подтвердить</button>
      </div>
    </div>
  </div>
</div>
