<!--
Шаблон модального окна выхода
-->
<div class="modal fade" id="Modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Выход</h4>
      </div>
      <div class="modal-body">
        <p>
            Действительно хотите выйти?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Выйти</button>
      </div>
    </div>
  </div>
</div>
