<!--
Шаблон модального окна создания новой партии
-->
<div class="modal fade" id="Modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Новая партия</h4>
      </div>
      <div class="modal-body">
			<input class="form-control" placeholder="Название игры"  ng-model="newGameInfo.name">
			
			<div class = "vibor_storon">
                <h3>Стороны</h3>
                
                <div class="{{key}} side" ng-repeat="(key,side) in newGameInfo.sides">
                    <div class="side_title">{{side.name}}</div>
                    <select required class="form-control" ng-model="newGameInfo.sides[key].type" >
                        <option value="{{type.id}}"  ng-repeat="type in newGameInfo.types" ng-selected="type.id==newGameInfo.sides[key].type"
                        >{{type.name}}</option>
                    </select>
                </div>
            </div>
            
			<label class = "parol new-game-flag">
				<input   type = "checkbox" ng-model="newGameInfo.require_password">
				Пароль
				<input class="form-control"  style="width: 150px;"  type="password"   ng-model="newGameInfo.password"
				ng-disabled="!newGameInfo.require_password"
				>
			</label>
			
			<label class = "viewer new-game-flag">
				<input   type = "checkbox" ng-model="newGameInfo.viewers">
				Разрешить наблюдателей
			</label>
			
			<label class = "time_block new-game-flag">
				<input   type = "checkbox" ng-model="newGameInfo.time_control">
				Ограничение времени на ход(минут)
				<input class="form-control"  style="width: 150px;"  type="text"  ng-model="newGameInfo.time_limit" ng-disabled="!newGameInfo.time_control">
			</label>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button 
            ng-click="addNewGame()"
            type="button" 
            class="btn btn-primary"
        >Создать партию</button>
      </div>
    </div>
  </div>
</div>
