<!--
Шаблон модального окна профиля пльзователя
-->
<div class="modal fade" id="Modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Профиль пользователя</h4>
      </div>
      <div class="modal-body">
        <!-- Если данные по пользователю есть - показываем их -->
        <div ng-if="modalProfile.id" class="modal-profile">
            <h3>{{modalProfile.login}}</h3>
            <img src="{{modalProfile.avatar}}" class="avatar img-circle">
        </div>
        <!-- Если данных по пользователю пока нет - показываем загрузку-->
        <div ng-if="!modalProfile.id">
            Загрузка ...
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <!-- Если текущий пользовательтотже чтои пользователь в модальном
        окне - вывести кнопку сохранения профиля -->
        <button 
            ng-if="modalProfile.id==currentUser.id" 
            type="button" 
            class="btn btn-primary"
        >Сохранить</button>
      </div>
    </div>
  </div>
</div>
