<!--
Шаблон модального окна напоминания пароля
-->
<div class="modal fade" id="Modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Восстановление пароля</h4>
      </div>
      <div class="modal-body">

        <p>
            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Email на который зарегистрирован
                пользователь</label>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                  <input type="text" class="form-control" placeholder="Email"
                  ng-model="remindPasswordForm.email">
                </div>                
              </div>
            <p>
            На указанный email будет выслана ссылка для восстановления пароля
            
            </p>


            </form>            
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary"
        ng-click="remindPassword()" ng-disabled="!remindPasswordForm.email">Выслать ссылку</button>
      </div>
    </div>
  </div>
</div>
