<!--
Шаблон(представление) шапки сайта
-->
<div id="root-error"></div>
<header>
    
    <!-- Логотип -->
    <div class="logo"></div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>        
    </button>
    <div class="main-menu collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            
            <li id="games-menu-dropdown" class="dropdown">
                <a href="" 
                class="dropdown-toggle glyphicon glyphicon-tower"
                data-target="#games-menu-dropdown" data-toggle="dropdown"
                > Партии <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#!/" class="glyphicon glyphicon-inbox"> 
                            Холл
                        </a>
                    </li>
                    <li>
                        <a href="#!/games/my/" class="glyphicon glyphicon-bookmark"> 
                            Избранные
                        </a>
                    </li>
                </ul>
            </li>

            <li id="tasks-menu-dropdown" class="dropdown">
                <a href="" 
                class="dropdown-toggle glyphicon glyphicon-tasks"
                data-target="#tasks-menu-dropdown" data-toggle="dropdown"
                > Задачи <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#!/tasks/add/" class="glyphicon glyphicon-edit"> 
                            Создать
                        </a>
                    </li>
                    <li>
                        <a href="#!/tasks/decide/" class="glyphicon glyphicon-check"> 
                            Решать
                        </a>
                    </li>
                </ul>
            </li>
            
            <li id="rating-menu-dropdown" class="dropdown">
                <a href="" 
                class="dropdown-toggle glyphicon glyphicon-signal"
                data-target="#rating-menu-dropdown" data-toggle="dropdown"
                > Рейтинг <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#!/rating/top/" class="glyphicon glyphicon-sort-by-attributes-alt"> 
                            Топ
                        </a>
                    </li>
                    <li>
                        <a href="#!/rating/my/" class="glyphicon glyphicon-list"> 
                            Мой рейтинг
                        </a>
                    </li>
                </ul>
            </li>
            
            <li id="help-menu-dropdown" class="dropdown">
                <a href="" 
                class="dropdown-toggle glyphicon glyphicon-question-sign"
                data-target="#help-menu-dropdown" data-toggle="dropdown"
                > Помощь <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="https://bitbucket.org/wildchessteam/wildchess-client-web/wiki/Home" class="glyphicon glyphicon-book"> 
                            Документация
                        </a>
                    </li>
                    <li>
                        <a href="#!/feedback/" class="glyphicon glyphicon-envelope"> 
                            Написать обращение
                        </a>
                    </li>
                </ul>
            </li>
            
        </ul>
        
        <!-- Если известен id текущего пользователя (авторизован)-->
        <!-- Блок профиля пользователя -->
        <div class="profile" ng-if="currentUser.id">
            <div class="profile-wrap">
                <div class="avatar" style="background-image:url({{currentUser.avatar}});"></div>
                <div class="username">
                    <div ng-click="showProfileModal(currentUser.id)">{{currentUser.login}}</div>
                    <div ng-click="showLogoutModal()" class="logout">
                        <i class="glyphicon glyphicon-log-out"></i>
                        <span>Выйти</span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Если НЕ известен id текущего пользователя (НЕ авторизован)-->
        <!-- Блок авторизации пользователя -->
        <div class="login" ng-if="!currentUser.id" ng-click="showRemindPasswordModal()">
            <i class="glyphicon glyphicon-asterisk"></i><span>Забыли пароль?</span>
        </div>
        <!--
        <div class="login" ng-if="!currentUser.id" ng-click="showCheckRegisterModal()">
            <i class="glyphicon glyphicon-ok-circle"></i><span>Подтвердить регистрацию</span>
        </div>
        -->
        <div class="login" ng-if="!currentUser.id" ng-click="showRegisterModal()">
            <i class="glyphicon glyphicon-collapse-up"></i><span>Регистрация</span>
        </div>
        <div class="login" ng-if="!currentUser.id" ng-click="showLoginModal()">
            <i class="glyphicon glyphicon-log-in"></i><span>Войти</span>
        </div>
         
    </div>

    

</header>
