<!--
    Шаблон главной страницы (контроллер index)
-->
<!-- Список игр -->
<div class="games hall-frame">
    <div class="games-header">
        <button class="btn btn-success"
        ng-click="showNewGame()"
        ><i class="glyphicon glyphicon-plus"></i>Новая партия</button>
        <input placeholder="Фильтр" class="form-control"></input>
    </div>
    <div class="games-wrap">
        <div class="games-list">
            <div class="game" ng-repeat="game in games.games">
                <div class="name">{{game.name}}</div>
                <div class="status">{{game.status.name}}</div>
                <div class="turn">{{game.turn}}</div>
                <div class="actions">
                    <a href="#!/game/{{game.id}}/" class="glyphicon glyphicon-log-in" title="Войти в игру"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Список игроков -->
<div class="gamers hall-frame">
    <h1>Игроки онлайн</h1>

    <div class="gamers-wrap">
        <div class="gamer" ng-repeat="gamer in gamers.gamers"
            ng-click="showProfileModal(gamer.id)"
        >
            <div class="avatar glyphicon glyphicon-user"></div>
            <div class="login">{{gamer.login}}</div>
        </div>
    </div>
</div>

<!-- Чат -->
<div class="hall-chat hall-frame">
    <div class="messages">
        <div class="messages-wrap">
            <div class="message" ng-repeat="message in chat.messages">
                <div class="date">{{message.date}}</div>
                <div class="avatar" ng-click="showProfileModal(message.user.id)"
                style="background-image:url({{message.user.avatar}})"></div>
                <div class="login" ng-click="showProfileModal(message.user.id)"
                >{{message.user.login}}</div>
                <div class="text">{{message.text}}</div>
            </div>
        </div>
    </div>

    <form class="form">
        <input class="chat-message form-control" ng-model="chatMessage" placeholder="Напишите сообщение">
        <button class="btn btn-primary glyphicon glyphicon-send"
        ng-click="sendMessage()"
        ></button>
    </form>
</div>
