<table class="topRating table table-bordered">
<tr>
	<th class="num">Место</th>
	<th class="user">Пользователь</th>
	<th class="rating">Рейтинг</th>
</tr>
<tr ng-repeat="(num,ratingRow) in topRating.top">
	<td class="num">{{num+1}}.</td>
	<td class="user"><a ng-click="showProfileModal(ratingRow.user.id)">{{ratingRow.user.login}}</a> </td>
	<td class="rating"><a href = "/#!/rating/{{ratingRow.user.id}}/">{{ratingRow.rating}}</a></td>
</tr>
</table>