<table class="topRating table table-bordered">
<tr>
	<th class="date">Дата</th>
	<th class="reason">Действие</th>
	<th class="rating">Рейтинг</th>
</tr>
<tr ng-repeat="ratingRow in userRating.history" ng-class="{'debit':ratingRow.debit,'credit':!ratingRow.debit}">
	<td class="date">{{ratingRow.date}}</td>
	<td class="reason">{{ratingRow.reason}}</td>
	<td class="rating">{{ratingRow.rating}}</td>
</tr>
</table>